.main-offer{
    margin: 15px auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #6c757d;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.main-offer .logo{
    width: 60px;
    height: 50;
    border-radius: 20px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.main-offer .title-company h5{
    font-size: .8rem;
    color: #007bff;
}
.main-offer .dropdown a{
    font-size: .65rem;
}
.offers-list ul{
    display: flex;
    flex-direction: column;
   
}
.offers-list ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 10px;
    margin: 10px auto;
    width: 90%;
}
.offers-list ul li .offer-img{
    width: 55px;
    height: 40px;
    border-radius: 10px;
}
.offer-img img{
    width: 100%;
    height: 100%;
}
.offers-list .offer-description{
    font-size: .7rem;
    color: #6c757d;
}
.modal-body{
    padding: 0;
}
.card-title{
    text-align: center;
    color: #007bff;
}
.modal-dialog{
    top: 25%;
}
.card-img-top {
    width: 55%;
    margin: 0 auto;
    height: 160px;
}